Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
StarterContent/
/Content/__ExternalObjects__/TopDown/Maps/TopDownMap
/Content/__ExternalActors__/TopDown/Maps/TopDownMap
/Content/TopDown
/Content/LevelPrototyping
/Content/Cursor
/Content/Characters
